.header{
    font-family: 'Acme', sans-serif;
}
.header-txt{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    padding-bottom: 80px;
}
.content-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 2rem;
}
.new-text{
    padding: 40px;
    padding-bottom: 0;
    width: 78%;
}
.typewriter{
    margin: auto;
}
.arrows{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 3rem;
}
.arrows:hover{
    color: crimson;
}
@media screen and (max-width: 600px) {
    .header{
        width: 100%;
    }
    .content-container{
        align-items: center;
        font-size: 18px;
    }
    .typewriter{
        margin: auto;
        padding: 0;
        padding-top: 40px;
    }
    .arrows{
        font-size: 1.5rem;
        justify-content: center;
    }
}