@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  background: linear-gradient(#023522, #1b335f);
}
html{
  scroll-behavior: smooth;
}