.home{
    padding-top: 20px;
    background-color: #caf1ee;
    height: 100vh;
    .upperHome{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
                height: 100%;
            }
        }

        .right-options{
            display: flex;
            gap:  40px;
            margin-right: 20px;

            p{
                cursor: pointer;
                font-size: 20px;

                &:hover{
                    color: #FFB800;
                }
            }
            .bold-option{
                font-weight: bold;
                font: 1em sans-serif;
                color: #fff;
                background-color: #0cc4ac;
                display: flex;
                width: 200px;
                justify-content: center;
                align-items: center;
                padding-top: 0;
                cursor: pointer;
                &:hover{
                    background-color: #FFB800;
                }
            }
        }
    }
}
